.arrow-button2-{
    opacity: 0%;
}

.arrow-button2-new {
    background-color: white;
    border: none;
    cursor: pointer;
    color: black;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-size: 2.5vh;
    width: 25%;
    margin: 0.25%; 
    padding: 8px;
    border: 1px solid hsl(0, 0%, 50%);
    animation: comeBack .3s ease
}

@keyframes comeBack {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}

.arrow-button2-win1 {
    background-color: white;
    border: none;
    cursor: pointer;
    color: black;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-size: 2.5vh;
    width: 25%;
    margin: 0.25%; 
    padding: 8px;
    border: 1px solid hsl(0, 0%, 50%);
    animation: 1s ease correct;
    pointer-events: none;
}

@keyframes correct {
    0%{
        color: white;
        background-color: white;
    }
    100%{
        color: #69ff48;
        background-color: #69ff48;
    }
}

.arrow-button2-win2 {
    background-color: #69ff48;
    border: none;
    cursor: pointer;
    color: #69ff48;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-size: 2.5vh;
    width: 25%;
    margin: 0.25%; 
    padding: 8px;
    border: 1px solid hsl(0, 0%, 0%);
    animation: .3s ease goAway;
    pointer-events: none;
}

@keyframes goAway {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(0);
    }
}

.arrow-button2-win3 {
    opacity: 0;
}

.arrow-button2-new:hover{
    background-color: #383838;
    color: white;
}

.arrow-button2-new:active {
    animation: onPress .3s ease 0s 1 normal forwards
}

@keyframes onPress {
    0% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(.92);
    }
}