.end-menu{
    position: relative;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}

.score-report {
    margin: auto;
    padding-top: 20%;
    text-align: center;
    z-index: 3;
    color: white;
    font-family: 'dita';
    font-weight: 300;
    font-style: normal;
    font-size: 3vh;
}